*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.blocks{
	font-size: 45px;
	width: 100%;
	background-color: red;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
a{
	color:white;
}
a:hover{
	color: #CA5504;
}
.top-menu{
	width: 100%;
	background-color: #252e30;
	
}
.nav{
	position: relative;
	padding-bottom: 10px;
}
.format{
	background-color: #252E30;
	margin-left: 30px;
	width: 100%;
	text-align: center;
}
.format li{
	padding-right: 40px;
}
.wrapper-logo a{
	display: inline-block;
}
.logo {
	background-color: #4b5456;
	color: #ffffff;
	padding: 0 20px;
	font-size: 2em;	
	line-height: 50px;
}
.my-logo:hover,
.logo:hover{
	color: #ffffff;
}
.my-logo{
	display: block;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	color: #ffffff;
}
.my-logo span{
	color: #CA5504;
}
.wrapper-nav{
	position: relative;
}
.wrapper-nav .link{
	color: #ffffff;
	font-family: arial;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 15px;
}
.nav-item {
	position: relative;
}
.nav-item a:hover{
	text-decoration: none;
	color:#CA5504;
}
.nav-item .nav-link::before{
font-family: Font Awesome\ 5 Free;
	position: absolute;
	left:-15px;
	opacity:0;
	z-index:3;
}
.nav-item .nav-link.contact-link::before{
font-weight:900;
	content: "\f2b9";
}
.nav-item .nav-link.portfolio-link::before{
	font-weight:900;
	content: "\f5bf";
}
.nav-item .nav-link.resume-link::before{
	font-weight:900;
	content: "\f2bb";
}
.nav-item .nav-link.test-link::before{
	font-weight:900;
	content: "\f0e0";
}
.nav-item .nav-link.skills-link::before{
	font-weight:900;
	content: "\f07c";
}
.nav-item .nav-link.about-link::before{
	font-weight:900;
	content: "\f02d";
}
.nav-item .nav-link.home-link::before{
	font-weight:900;
	content: "\f121";
}
.nav-item a:hover:before {
	color: #fff;
	opacity:1;
	z-index: 2;
	text-decoration: none;
}


.wrapper-logo{
	text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #ffffff;
	background-color: transparent;
}
.button {
	padding: 10px 15px;
	color: #ffffff;
	font-family: RobotoRegular;
	font-size: 18 px;
	line-height: 24px;
	text-transform: uppercase;
	border: 1px solid white;
	border-radius: 5px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.button:hover {
	text-decoration: none;
}
section{
	position: relative;
}
.header{	
	width: auto;
	height: 600px;
	background-size: cover;
	background-position: center;
}

section.header::before{
	content: '';
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 600px;
	opacity: .75;
}
.proffi{
	color: #ffffff;
	font-family: RobotoRegular;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	display: inline-block;
	border-top:1px solid white;
	border-bottom: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.buttons,
.buttons:active,
.buttons:focus,
.buttons:hover {
	cursor: pointer;
	color: #111;
	text-decoration: none
}
.buttons {
	color: #e8e5e5;
	display: inline-block;
	border: none;
	background-color: #C95409;
	font-family: RobotoRegular, Arial, sans-serif;
	font-size: 1em;
	padding: 5px 15px;
	border-bottom: #B97200 3px solid;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

.buttons:hover {
	background-color: #FFB338
}
.buttons{
	text-decoration: none;
}

.buttons:active {
	background-color: #DB8C0E
}

.about{
	padding: 35px 15px;
}

.about h2{
	font-family: "RobotoRegular";
	font-size: 30px;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.8;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.about p{
	font-family: RobotoRegular;
	font-size: 16px;
	line-height: 1.67;
	text-align: left;
	color: #120E12;
}
.grey{
	background-color: #E4E4E1;
}
.capabilities{
	padding-left: 0;
	overflow: hidden;

}
.capabilities-text{
	font-size: 16px;
	margin-left: 45px;
	padding-top: 60px;
	padding-bottom: 15px;
}
.capabilities-text h2{
	font-family: "RobotoRegular";
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.capabilities-text .last_p{
	padding-bottom: 30px;
}
.capabilities-about {
	padding-right: 10px;
}
.capabilities-about h2{
	padding-left: 45px;
}
.capabilities-about h3{
	padding-left: 35px;
	font-family: "RobotoRegular";
	font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.capabilities-about p{
	padding-left: 35px;
}
.fas{
	position: absolute;
	top: 2px;
	font-size: 25px;
	color:  #CA5504;
}
.skills{
	padding-top: 25px;
	padding-bottom: 25px;
}
.about-skills{
	margin-right: 40px;
	border-right: solid 2px #b1b1af;
}
.about-skills h2{
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 1.6em;
	text-transform: uppercase;
}
.about-skills h2::after{
	position: absolute;
	content: '';
	height: 2px;
	background-color:#ca55047a;
	width: 265px;
	display: block;
	bottom: -7px;
	left: 25%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-border-radius: 10em;
	border-radius: 10em;
}
.skills-dev h3{
	text-transform: uppercase;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 5px;
}
.skills-dev .progress{
	margin-bottom: 15px;
}
.progress-bar {
	background-color:#CA5504 !important;
}
.work-experience {
	padding: 25px 0;
}
.work-experience .cart-hystory h2{
	margin-bottom: 20px;
}
.cart-hystory{
	margin-bottom: 35px;
}
.cart-hystory-my h2{
	position: relative;
}
.cart-hystory-in{
	position: relative;
	margin-bottom: 30px;
}
.cart-hystory-in h3::after{
	position: absolute;
	content: '';
	height: 2px;
	background-color:#ca55047a;
	width: 75%;
	display: block;
	top: 65px;
	left: 40%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-border-radius: 10em;
	border-radius: 10em;
}

.cart-hystory .left,
.cart-hystory .right {
	margin-top: 25px;
}
.cart-hystory h3{
	position: relative;
	margin-bottom: 20px;
	color: #252e30;
}
.cart-hystory-my h2::after{
	position: absolute;
	content: '';
	height: 2px;
	background-color:#ca55047a;
	width: 265px;
	display: block;
	bottom: -13px;
	left: 12%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-border-radius: 10em;
	border-radius: 10em;
}
.cart-hystory h3::after {
	position: absolute;
	content: '';
	height: 2px;
	background-color: #ca55047a;
	width: 265px;
	display: block;
	bottom: -13px;
	left: 26%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-border-radius: 10em;
	border-radius: 10em;
}
.time-date {
	color: #848c8e;
}
.cart-in {
	color: #C95409;
	padding-bottom: 10px;
	text-decoration: underline;
}
.left{
	border-right: solid 2px #b1b1af;
}
.left, .right, .cart-hystory-my{
	animation-duration: 2s;
	animation-delay: .5s;
}
.about-skills{
	animation-duration: 2s;
	animation-delay: .5s;
}
.skills-dev{
	animation-duration: 2s;
	animation-delay: .5s;
}
.portfolio-group h2{
	text-align: center;
	position:relative;
	margin-top: 25px;
	margin-bottom: 15px;
	color: #252e30;
}
.portfolio-group h2::after {
	position: absolute;
	content: '';
	height: 2px;
	background-color: #ca55047a;
	width: 200px;
	display: block;
	bottom: -10px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-border-radius: 10em;
	border-radius: 10em;
}
.card{
	width: 36 rem;
}
.forms_dark {
	background-color: #252e30;
}




